= form_for @technician do |f|
  - if @technician.errors.any?
    #error_explanation
      %h2= "#{pluralize(@technician.errors.count, "error")} prohibited this technician from being saved:"
      %ul
        - @technician.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :is_active
    = f.check_box :is_active
  .actions
    = f.submit 'Save'
