%h1 Listing jobs

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Status
      %th Employer
      %th
      %th
      %th

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.name
        %td= job.description
        %td= job.status_id
        %td= job.employer
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
