<body>
<div class="page">
  <div class="all-categories section">
    <div class="container">
      <div class="ad-details">
        <div class="row">
          <div class="col-md-8 col-sm-7">
            <div class="item">
              <div class="detail-item-image item-image carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <%@job.attachments.each do |image|%>
                        <div class="item">
                          <%= image_tag image.document.url, class: "img-responsive" %>
                        </div>
                    <%end%>
                  </div>
                </div>
                <a class="left-control" href=".detail-item-image" role="button" data-slide="prev">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right-control" href=".detail-item-image" role="button" data-slide="next">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                </a>
                <div class="item-price">
                  <span><%= @job.try(:budget)%></span>
                </div>
              </div>
              <div class="details-description">
                <div class="item-info item-meta">
                  <div class="item-post-date">
                    <span><i class="fa fa-clock-o"></i>Ad Posted On <%= @job.created_at.strftime("%b %d, %Y") %></span>
                  </div>
                  <div class="ad-title">
                    <h3><%= @job.try(:name)%></h3>
                  </div>
                  <ul class="list-inline product-social">
                    <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                  </ul>
                </div><!-- item-info -->
                <div class="item-info">
                  <h4>Description</h4>
                  <p><%= @job.try(:description)%></p>
                </div><!-- item-info -->
                <div class="item-info">
                  <h4>Other Info</h4>
                  <ul>
                    <li>Ad Type : <%= @job.try(:ad_type)%></li>
                    <li>Budget : Rs <%= @job.try(:budget)%> </li>
                    <li>Time : <%= @job.try(:time).strftime("%I:%M%p")%></li>
                    <li>Services Require : <%= @job.services.map{|s| [s.name]}.join(',') %></li>
                    <li>At Location : <%= @job.location.try(:name) %></li>
                  </ul>
                </div><!-- item-info -->
              </div>
            </div><!-- item -->
            <% if @job.biddings.length > 0 %>
                <div class="all-categories section">
                  <div class="container">
                    <div class="col-md-12 col-sm-12">
                      <div class="category-adds">
                        <div id="category-tab">
                          <div class="category-tab">
                            <div class="tab-content search-tab list-view-tab">
                              <div>
                                <ul>
                                  <% @job.biddings.each_with_index do |bidding, index|%>
                                      <%= link_to(bidding.contractors.first, target: '_blank') do %>
                                          <li class="item-wrap">
                                            <div class="item">
                                              <div class="item-image">
                                                <%= image_tag bidding.contractors.first.latest_image, class: "img-responsive" %>
                                                <div class="item-price">
                                                  <span><%= bidding.amount %></span>
                                                </div>
                                              </div>
                                              <div class="item-description">
                                                <div class="item-meta">
                                                  <span><%= bidding.bid_owner.first_name %> <%= bidding.bid_owner.last_name %></span>
                                                  <% if current_user.id == @job.employer.user.id %>
                                                      <ul class="list-inline product-social">
                                                        <% url = chat_url current_user, bidding.contractors.first.user %>
                                                        <%= link_to(url, target: '_blank', class: "pr-xl pt-lg") do %>
                                                            <li>
                                                              <i class="fa fa-comments" aria-hidden="true"></i> Message
                                                            </li>
                                                        <% end %>
                                                      </ul>
                                                  <% end %>
                                                </div>
                                                <div class="item-info">
                                                  <span>Amount: <%= bidding.amount %> Rs.</span>
                                                </div>
                                                <div class="item-info">
                                                  <span>Description: <%= bidding.description %></span>
                                                </div>
                                              </div>
                                            </div>
                                          </li>
                                      <% end %>
                                  <% end %>
                                </ul>
                              </div> <!--tab-pane-->
                            </div>
                          </div>
                        </div><!-- category-tab-->
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
            <div class="location-map">
              <h4>Seller Location</h4>
              <div id="gmap"></div>
            </div>
          </div>
          <div class="col-sm-5 col-md-4">
            <div class="side-bar">
              <div class="item-author widget">
                <h4>Seller Info</h4>
                <div class="row">
                  <div class="col-md-4">
                    <div class="seller-image">
                      <%= image_tag @job.employer.latest_image, class: "img-responsive" %>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="seller-info">
                      <p><span>Employer:</span> <a href="#"><%= @job.employer.full_name %></a></p>
                      <address>
                        <span>Address:</span> <%= @job.employer.address %>
                      </address>
                      <p><span>Phone :</span> <%= @job.employer.get_contact_numbers.first.try(:text_value) %> </p>
                      <% if current_user.id != @job.employer.user.id %>
                          <% url = owner_chat_url current_user, @job.employer.user %>
                          <%= link_to(url, target: '_blank', class: "pr-xl pt-lg") do %>
                              <p><span>Message :</span> <i class="fa fa-comments" aria-hidden="true"></i> </p>
                          <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <% if bidding_allowed current_user, @job %>
                <%= render 'partials/bidding_form' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>