<%= form_for c_service,remote: true do |f| %>
<fieldset>
  <div class="product-section avtpost-fields">
    <div class="row">
      <%= f.fields_for :locations do |location_fields| %>
          <%= location_fields.text_field :latitude, autofocus: true , :class => 'form-control', :required => true, id: 'searchTextField' %>
          <%= location_fields.text_field :longitude, autofocus: true , :class => 'form-control', :required => true, id: 'searchTextField' %>
          <%= location_fields.text_field :name, autofocus: true , :class => 'form-control google_map', :required => true, id: 'searchTextField' %>
          <div class=" "></div>
      <% end %>
      <%#= f.add_nested_fields_link :locations %>
    </div>
  </div>
  <div class="submit-section text-center">
    <div class="submit-button">
      <%= f.submit "Save" , :class => 'btn btn-primary'%>
    </div>
  </div>
</fieldset>
<%end%>