<% profile = Technician.new %>
<div class="avt-post-wrapper">
  <div class="container">
    <div class="submit-section text-center pull-left">
      <button type="button" class="btn btn-primary" onclick="show_hide_technician_form()">Add Technician</button>
    </div>
    <div class="col-sm-12" id="technician_listing">
      <div class="category-adds">
        <div class="category-tab">
          <div class="tab-content list-view-tab">
            <ul>
              <% @contractor.technicians.each do |technician| %>
                  <li class="item-wrap">
                    <div class="item">
                      <div class="item-image">
                        <a href=""><%= image_tag technician.latest_image, class: "img-circle" %></a>
                        <div class="item-price">
                          <span>$45</span>
                        </div>
                      </div>
                      <div class="item-description">
                        <div class="item-meta">
                          <div class="item-post-date">
                            <span>Today, 12:29 pm</span>
                          </div>
                          <ul class="list-inline product-social">
                            <li><a>Edit</a></li>
                            <li><a>Delete</a></li>
                          </ul>
                        </div>
                        <div class="item-title">
                          <h5><span><i class="fa fa-user"></i></span><a href="#"><%= technician.full_name %></a></h5>
                          <h5><span><i class="fa fa-envelope-o"></i></span><a href="#"><%= technician.last_name %></a></h5>
                        </div>
                        <div class="item-info">
                          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                        </div>
                      </div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="technician_form">
      <div class="avt-post col-sm-12">
        <%= form_for setup_profileable_model(profile) do |f| %>
            <%= f.hidden_field :contractor_id, :value => @contractor.id %>
            <fieldset>
              <div class="product-section avtpost-fields">
                <div class="row">
                  <div class="col-xs-12">
                    <h3>Profile</h3>
                  </div>
                  <div class="col-md-6">
                    <div class="post-inner">
                      <div class="row form-group">
                        <label class="col-md-4">First Name: </label>
                        <div class="col-md-8">
                          <%= f.text_field :first_name, autofocus: true , :class => 'form-control', :required => true, placeholder: ""%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="post-inner">
                      <div class="row form-group">
                        <label class="col-md-4">Last Name: </label>
                        <div class="col-md-8">
                          <%= f.text_field :last_name, autofocus: true , :class => 'form-control', :required => true, placeholder: ""%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <%= f.fields_for :contact_numbers do |contact_fields| %>

                      <div class="col-md-6">
                        <div class="post-inner">
                          <div class="row form-group">
                            <label class="col-md-4">Cell No: </label>
                            <div class="col-md-8">
                              <%= contact_fields.text_field :text_value, autofocus: true , :class => 'form-control', :required => true, value: profile.contact_numbers.first.text_value %>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>
                  <%= f.fields_for :attachments do |attachment| %>
                      <%= attachment.hidden_field :image_type, value: 'Profile Pic'%>
                      <%= attachment.hidden_field :name, value: 'Testing' %>
                      <div class="col-md-6">
                        <div class="post-inner">
                          <div class="row form-group">
                            <label class="col-md-4">Upload Photo: </label>
                            <div class="col-md-8">
                              <div class="upload-section">
                                <label class="upload-image" for="uploadOne">
                                  <%= attachment.file_field :document %>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
                <div class="row">
                  <%= f.fields_for :location do |location_fields| %>
                      <div class="col-md-6">
                        <div class="post-inner">
                          <div class="row form-group">
                            <label class="col-md-4">Location Name</label>
                            <div class="col-md-8">
                              <%= location_fields.text_field :name, autofocus: true , :class => 'form-control', :required => true, id: 'searchTextField' %>
                              <%= location_fields.hidden_field :city_id, :value => 1 %>
                              <%= location_fields.hidden_field :latitude, :value => '' %>
                              <%= location_fields.hidden_field :longitude, :value => '' %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="post-inner">
                          <div class="row form-group">
                            <label class="col-md-4">Address 1</label>
                            <div class="col-md-8">
                              <%= location_fields.text_field :address_1, autofocus: true , :class => 'form-control', :required => true %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="post-inner">
                          <div class="row form-group">
                            <label class="col-md-4">Address 2</label>
                            <div class="col-md-8">
                              <%= location_fields.text_field :address_2, autofocus: true , :class => 'form-control', :required => true %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="post-inner">
                          <div class="row form-group">
                            <label class="col-md-4">Zip Code</label>
                            <div class="col-md-8">
                              <%= location_fields.text_field :zip_code, autofocus: true , :class => 'form-control', :required => true %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%= location_fields.fields_for :contact_numbers do |location_contact_numbers_fields| %>
                          <div class="col-md-6">
                            <div class="post-inner">
                              <div class="row form-group">
                                <label class="col-md-4">Contact No</label>
                                <div class="col-md-8">
                                  <%= location_contact_numbers_fields.text_field :text_value, autofocus: true , :class => 'form-control', :required => true %>
                                </div>
                              </div>
                            </div>
                          </div>
                      <% end %>
                  <% end %>
                </div>
              </div>
              <div class="submit-section text-center">
                <div class="submit-button">
                  <%= f.submit "Save" , :class => 'btn btn-primary'%>
                  <button type="button" class="btn btn-primary" onclick="hide()">Cancel</button>
                </div>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>