/ footer
%footer#footer
  .footer-top.section
    .container
      .row
        .col-sm-4
          .footer-widget.about-widget
            %h3 About ServiceX
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim
            %br
              %p Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .col-sm-4
          .footer-widget.link-widget
            %h3 Useful Links
            %ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-double-right
                  Support  Help
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-double-right
                  Affiliate Program
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-double-right
                  Knowledge Base
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-double-right
                  Career With Us
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-double-right
                  Contact
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-double-right
                  How It Works
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-double-right
                  Privacy Policy
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-double-right
                  Advertise Policy
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-double-right
                  Terms Of Service
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-double-right
                  Support
        .col-sm-4
          .footer-widget.contact-widget
            %h3 Contact Us
            %ul
              %li
                %span
                  %i.fa.fa-map-marker
                  Address :
                123 Street, Your City, United States
              %li
                %span
                  %i.fa.fa-phone
                  Phone number :
                (123) 456-7890
              %li
                %span
                  %i.fa.fa-envelope
                  E-mail :
                %a{:href => "mailto:#"} yourmail@example.com
              %li
                %ul.list-inline.social
                  %li
                    %a.facebook{:href => "#"}
                      %i.fa.fa-facebook-square
                  %li
                    %a.twitter{:href => "#"}
                      %i.fa.fa-twitter-square
                  %li
                    %a.google{:href => "#"}
                      %i.fa.fa-google-plus-square
                  %li
                    %a.instagram{:href => "#"}
                      %i.fa.fa-instagram
                  %li
                    %a.youtube{:href => "#"}
                      %i.fa.fa-youtube-play
    / container
    / footer-top
    .footer-bottom.clearfix
      .container
        .row
          .col-sm-6
            %p
              2017 ServiceX Copyright
          .col-sm-6
            .payment-opt-icons
              %span Payments
              %ul
                %li
                  = image_tag "others/1"
                  %li
                    = image_tag "others/2"
                    %li
                      = image_tag "others/3"
                      %li
                        = image_tag "others/4"
                        %li
                          = image_tag "others/5"
