<div class="home-page">
  <div id="home-section" class="parallax-section carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image:url(assets/bg/slide1.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="slider-content">
                <h1 data-animation="animated lightSpeedIn">Welcome</h1>
                <h2 data-animation="animated lightSpeedIn">To ServiceX</h2>
                <p data-animation="animated lightSpeedIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <div class="ad-btn">
                  <a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
                </div>
              </div>
            </div>
          </div><!-- row -->
        </div><!-- contaioner -->
      </div><!-- item -->

      <div class="item" style="background-image:url(assets/bg/slide2.png)">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="slider-content">
                <h1 data-animation="animated lightSpeedIn">Say Hello</h1>
                <h2 data-animation="animated lightSpeedIn">To Revolution</h2>
                <p data-animation="animated lightSpeedIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <div class="ad-btn">
                  <a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
                </div>
              </div>
            </div>
          </div><!-- row -->
        </div><!-- contaioner -->
      </div><!-- item -->
      <div class="item" style="background-image:url(assets/bg/slide3.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="slider-content">
                <h1 data-animation="animated lightSpeedIn">Service at Home</h1>
                <h2 data-animation="animated lightSpeedIn">Maximum Posibilities</h2>
                <p data-animation="animated lightSpeedIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <div class="ad-btn" >
                  <a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
                </div>
              </div>
            </div>
          </div><!-- row -->
        </div><!-- contaioner -->
      </div><!-- item -->
    </div>
    <a class="left carousel-control" href="#home-section" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
        <a class="right carousel-control" href="#home-section" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div><!-- #home-section -->

  <div id="search-section">
    <div class="container">
      <div class="search-section">
    <%= render partial: "partials/search_filters" %>
      </div>
    </div>
  </div>
  <!-- search-section -->


  <!-- avt-category -->
  <div id="avt-category" class="clearfix">
    <div class="container">
      <div class="section services">
        <div class="section-title">
          <div class="title-content">
            <h2>Browse Categories</h2>
            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#"><%= image_tag('icon/1.png', class: "img-responsive", alt: "images")%></a>
              </div>
              <h5><a href="#">Cars & Vehicles <span>(2056 ads)</span></a> </h5>
              <ul>
                <li><a href="#">Heavy Vehicles</a></li>
                <li><a href="#">Machinery & Construction</a></li>
                <li><a href="#">Motorcycles & Bikes</a></li>
                <li><a href="#">Commercial Vehicles </a></li>
                <li><a href="#">Vehicle Accessories </a></li>
              </ul>
            </div><!-- category-avt -->
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#"><%= image_tag('icon/2.png', class: "img-responsive", alt: "images")%></a>
              </div>
              <h5><a href="#">Property <span>(1317 ads)</span></a> </h5>
              <ul>
                <li><a href="#">Commercial Property</a></li>
                <li><a href="#">Houses & Apartments</a></li>
                <li><a href="#">Land & Plots</a></li>
                <li><a href="#">Home & Office </a></li>
                <li><a href="#">Other Property</a></li>
              </ul>
            </div><!-- category-avt -->
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#"><%= image_tag('icon/3.png', class: "img-responsive", alt: "images")%></a>
              </div>
              <h5><a href="#">Electronics <span>(1094 ads)</span></a> </h5>
              <ul>
                <li><a href="#">Computers & Laptops	</a></li>
                <li><a href="#">Mobile & Tablets</a></li>
                <li><a href="#">TV & LCD</a></li>
                <li><a href="#">Cameras & Camcorders</a></li>
                <li><a href="#">Accessories</a></li>
              </ul>
            </div><!-- category-avt -->
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#"><%= image_tag('icon/4.png', class: "img-responsive", alt: "images")%></a>
              </div>
              <h5><a href="#">Jobs <span>(794 ads)</span></a> </h5>
              <ul>
                <li><a href="#">Finace Jobs	</a></li>
                <li><a href="#">Private Jobs</a></li>
                <li><a href="#">Government Jobs</a></li>
                <li><a href="#">NGo Jobs</a></li>
                <li><a href="#">Genaral Labour</a></li>
              </ul>
            </div><!-- category-avt -->
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#"><%= image_tag('icon/5.png', class: "img-responsive", alt: "images")%></a>
              </div>
              <h5><a href="#">Sports & Games <span>(1632 ads)</span></a> </h5>
              <ul>
                <li><a href="#">Men Sports</a></li>
                <li><a href="#">Baby Sports</a></li>
                <li><a href="#">Women Sports</a></li>
                <li><a href="#">Extreme Sports</a></li>
                <li><a href="#">Accessories</a></li>
              </ul>
            </div><!-- category-avt -->
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#"><%= image_tag('icon/6.png', class: "img-responsive", alt: "images")%></a>
              </div>
              <h5><a href="#">Pets <span>(632 ads)</span></a> </h5>
              <ul>
                <li><a href="#">Dogs</a></li>
                <li><a href="#">Birds</a></li>
                <li><a href="#">Grooms</a></li>
                <li><a href="#">Fish & Reptile Pets</a></li>
                <li><a href="#">Animals Foods</a></li>
              </ul>
            </div><!-- category-avt -->
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#"><%= image_tag('icon/7.png', class: "img-responsive", alt: "images")%></a>
              </div>
              <h5><a href="#">Books & Megazine <span>(109 ads)</span></a> </h5>
              <ul>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Poems & Rhymes</a></li>
                <li><a href="#">Documentary</a></li>
                <li><a href="#">Historical</a></li>
              </ul>
            </div><!-- category-avt -->
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#"><%= image_tag('icon/8.png', class: "img-responsive", alt: "images")%></a>
              </div>
              <h5><a href="#">Household <span>(109 ads)</span></a> </h5>
              <ul>
                <li><a href="#">Home Appliances</a></li>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Kitchen</a></li>
                <li><a href="#">Children Item</a></li>
                <li><a href="#">Others</a></li>
              </ul>
            </div><!-- category-avt -->
          </div>
        </div>
      </div><!-- services -->
    </div><!-- container -->
  </div><!-- category-avt -->

  <div id="call-to-act">
    <div class="container">
      <div class="call-to-act">
        <h1><span>Start Your Business </span> With ServiceX Classified </h1>
        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis p</p>
        <a href="#" class="btn btn-primary">Signup Now</a>
      </div>
    </div>
  </div><!-- #call-to-act -->

  <div id="featured-avts">
    <div class="section featureds">
      <div class="section-title container">
        <div class="title-content">
          <h2>Featured Jobs</h2>
          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim</p>
        </div>
      </div>
      <div id="top-featured">

        <div class="featured-item">
          <div class="featured-title">
            <h3><a href="#">Install Air Condition</a></h3>
            <h4><a href="#">Electronics</a></h4>
          </div>
          <div class="featured-image">
            <a href="#"><%= image_tag('featured/1.jpg', class: "img-responsive", alt: "")%></a>
          </div>

          <!-- ad-info -->
          <div class="product-meta">
            <div class="item-info">
              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
            </div>
            <div class="item-price">
              <span>$150</span>
            </div>
            <ul class="list-inline product-social">
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
            </ul>
          </div><!-- ad-info -->
        </div><!-- featured -->

        <div class="featured-item">
          <div class="featured-title">
            <h3><a href="#">Fit new Motor</a></h3>
            <h4><a href="#">Plumbering</a></h4>
          </div>
          <div class="featured-image">
            <a href="#"><%= image_tag('featured/2.jpg', class: "img-responsive", alt: "")%></a>
          </div>

          <!-- ad-info -->
          <div class="product-meta">
            <div class="item-info">
              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
            </div>
            <div class="item-price">
              <span>$1250</span>
            </div>
            <ul class="list-inline product-social">
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
            </ul>
          </div><!-- ad-info -->
        </div><!-- featured -->

        <div class="featured-item">
          <div class="featured-title">
            <h3><a href="#">Make new Table</a></h3>
            <h4><a href="#">Carpainter</a></h4>
          </div>
          <div class="featured-image">
            <a href="#"><%= image_tag('featured/3.jpg', class: "img-responsive", alt: "")%></a>
          </div>

          <!-- ad-info -->
          <div class="product-meta">
            <div class="item-info">
              <p>Selling Canon 5D Mark ii with the Canon 50mm 1.4 lens. Comes with body, two batteries</p>
            </div>
            <div class="item-price">
              <span>$970</span>
            </div>
            <ul class="list-inline product-social">
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
            </ul>
          </div><!-- ad-info -->
        </div><!-- featured -->

        <div class="featured-item">
          <div class="featured-title">
            <h3><a href="#">Paint Drawing Room</a></h3>
            <h4><a href="#">Painter</a></h4>
          </div>
          <div class="featured-image">
            <a href="#"><%= image_tag('featured/4.jpg', class: "img-responsive", alt: "")%></a>
          </div>

          <!-- ad-info -->
          <div class="product-meta">
            <div class="item-info">
              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
            </div>
            <div class="item-price">
              <span>$165</span>
            </div>
            <ul class="list-inline product-social">
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
            </ul>
          </div><!-- ad-info -->
        </div><!-- featured -->

        <div class="featured-item">
          <div class="featured-title">
            <h3><a href="#">Fix Aluminum Door</a></h3>
            <h4><a href="#">Carpainter</a></h4>
          </div>
          <div class="featured-image">
            <a href="#"><%= image_tag('featured/5.jpg', class: "img-responsive", alt: "")%></a>
          </div>

          <!-- ad-info -->
          <div class="product-meta">
            <div class="item-info">
              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
            </div>
            <div class="item-price">
              <span>$970</span>
            </div>
            <ul class="list-inline product-social">
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
            </ul>
          </div><!-- ad-info -->
        </div><!-- featured -->

        <div class="featured-item">
          <div class="featured-title">
            <h3><a href="#">Service my Car</a></h3>
            <h4><a href="#">Vehicles & Motors</a></h4>
          </div>
          <div class="featured-image">
            <a href="#"><%= image_tag('featured/6.jpg', class: "img-responsive", alt: "")%></a>
          </div>

          <!-- ad-info -->
          <div class="product-meta">
            <div class="item-info">
              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
            </div>
            <div class="item-price">
              <span>$125</span>
            </div>
            <ul class="list-inline product-social">
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
            </ul>
          </div><!-- ad-info -->
        </div><!-- featured -->

        <div class="featured-item">
          <div class="featured-title">
            <h3><a href="#">Deliver the Lunch</a></h3>
            <h4><a href="#">Delivery</a></h4>
          </div>
          <div class="featured-image">
            <a href="#"><%= image_tag('featured/7.jpg', class: "img-responsive", alt: "")%></a>
          </div>

          <!-- ad-info -->
          <div class="product-meta">
            <div class="item-info">
              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
            </div>
            <div class="item-price">
              <span>$1465</span>
            </div>
            <ul class="list-inline product-social">
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
            </ul>
          </div><!-- ad-info -->
        </div><!-- featured -->
      </div>
    </div>
  </div><!-- #featured-ads -->

  <div id="bog-section" class="section">
    <div class="container">
      <div class="section-title">
        <div class="title-content">
          <h2>Blog & News</h2>
          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim</p>
        </div>
      </div>
      <div class="blog-content">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="blog-post">
              <div class="entry-thubmnail">
                <a href="#"><%= image_tag('blog/blog1.jpg', class: "img-responsive", alt: "")%></a>
              </div>
              <div class="entry-content">
                <h3 class="entry-title"><a href="blog-detail.html">A closer look into ...</a></h3>
                <div class="entry-meta">
                  <span>By <a href="#">Gridbootstrap</a></span> | <span><a href="#">7 Comments</a></span>
                </div>
                <a class="date" href="#"><span>16</span> Dec</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="blog-post">
              <div class="entry-thubmnail">
                <a href="#"><%= image_tag('blog/blog2.jpg', class: "img-responsive", alt: "")%></a>
              </div>
              <div class="entry-content">
                <h3 class="entry-title"><a href="blog-detail.html">A closer look into ...</a></h3>
                <div class="entry-meta">
                  <span>By <a href="#">Gridbootstrap</a></span> | <span><a href="#">NoComments</a></span>
                </div>
                <a class="date" href="#"><span>27</span> Nov</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="blog-post">
              <div class="entry-thubmnail">
                <a href="#"><%= image_tag('blog/blog3.jpg', class: "img-responsive", alt: "")%></a>
              </div>
              <div class="entry-content">
                <h3 class="entry-title"><a href="blog-detail.html">A closer look into ...</a></h3>
                <div class="entry-meta">
                  <span>By <a href="#">Gridbootstrap</a></span> | <span><a href="#">8 Comments</a></span>
                </div>
                <a class="date" href="#"><span>24</span> Sep</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- #blog section -->


  <!-- newsletter -->
  <div id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="newsletter">
            <p>Sign up with your email to get latest updates and offers</p>
            <div class="input-email">
              <input type="email" placeholder="Enter your email address" name="email" id="email">
              <input type="submit" class="btn btn-primary" value="Subscribe Now">
              </div>
          </div>
        </div>
      </div>
    </div><!-- contaioner -->
  </div><!-- #newsletter -->

  </div><!-- .home-page -->